<div th:fragment="footer">
	<script th:src="@{/resources/sb-admin/bower_components/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/resources/sb-admin/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/sb-admin/bower_components/metisMenu/dist/metisMenu.min.js}"></script>
	<script th:src="@{/resources/sb-admin/bower_components/raphael/raphael-min.js}"></script>
<!-- 	<script th:src="@{/resources/sb-admin/bower_components/morrisjs/morris.min.js}"></script> -->
<!-- 	<script th:src="@{/resources/sb-admin/js/morris-data.js}"></script> -->
	
    <!-- DataTables JavaScript -->
    <script th:src="@{/resources/sb-admin/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/resources/sb-admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>
    
	<script th:src="@{/resources/js/org.js}"></script>
	<script th:src="@{/resources/js/jquery.backstretch.min.js}"></script>
	<script th:src="@{/resources/sb-admin/dist/js/sb-admin-2.js}"></script>
</div>