<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
						http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.2.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
						
	<context:property-placeholder location="classpath:properties/default.properties" />
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties" ref="hibernateProps">
		</property>
		<property name="packagesToScan" value="com.agilissystems"></property>
	</bean>

	<bean id="hibernateProps"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.use_sql_comments">${hibernate.show_sql}</prop>
			</props>
		</property>
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="jdbcUrl">
			<value>${jdbc.url}</value>
		</property>
		<property name="acquireIncrement">
			<value>10</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>300</value>
		</property>
		<property name="maxIdleTime">
			<value>600</value>
		</property>
		<property name="maxPoolSize">
			<value>${pool.maxConnections}</value>
		</property>
		<property name="maxStatementsPerConnection">
			<value>50</value>
		</property>
		<property name="minPoolSize">
			<value>${pool.minConnections}</value>
		</property>
		<property name="numHelperThreads">
			<value>10</value>
		</property>
		<property name="properties">
			<props>
				<prop key="user">${jdbc.userName}</prop>
				<prop key="password">${jdbc.password}</prop>
			</props>
		</property>
	</bean>


	<!-- Transaction -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>